APP_NAME=Playlist Request Prototype
ADMIN_TOKEN=
USE_SPOTIFY_SEARCH=false
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_ACCESS_TOKEN=
SPOTIFY_PLAYLIST_ID=
SPOTIFY_SCOPE=playlist-modify-public playlist-modify-private playlist-read-private playlist-read-collaborative
DATABASE_URL=sqlite:///./playlist.db
PUBLIC_APP_URL=http://localhost:8081
